<nav class="subnav" [clr-nav-level]="2">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="/patients/symptoms"
         [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="active"
         class="nav-link">
        Overview
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/patients/symptoms/create"
         [routerLinkActiveOptions]="{exact: true}"
         routerLinkActive="active"
         class="nav-link">
        Create new
      </a>
    </li>
  </ul>
</nav>
<!-- Content -->
<div class="content-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>



