.day {
  width: 14.28%;
}

clr-icon {
  height: 80%;
  width: 80%;
}

.danger {
  background: rgba(245, 79, 71, 0.2);
}

.warning {
  background: rgba(255, 207, 129, 0.2);
}

.ok {
  background: rgba(145, 255, 117, 0.2);
}
