<div class="content-container">
  <div class="content-area">

    <div class="clr-row">
      <div class="clr-row-xs-12 clr-col-sm-4 clr-col-md-3">


        <h1>Knowledge Base</h1>

        <clr-tree-node [clrExpanded]="true">
          About prostate cancer

          <clr-tree-node>
           <strong>What is the prostate?</strong>
          </clr-tree-node>

          <clr-tree-node>
            Are you at risk?
          </clr-tree-node>

          <clr-tree-node>
            Symptoms
          </clr-tree-node>

          <clr-tree-node>
            Prostate tests
          </clr-tree-node>

          <clr-tree-node>
            Treatments
          </clr-tree-node>

          <clr-tree-node>
            Medication
          </clr-tree-node>

        </clr-tree-node>

        <clr-tree-node>
          Doctors
        </clr-tree-node>

        <clr-tree-node>
          Hospitals
        </clr-tree-node>

      </div>

      <div class="clr-row-sm-8 clr-col-md-9">
        <h2>What is the prostate?</h2>
        <p>
          Only men have a prostate gland. The prostate is usually the size and shape of a walnut and grows bigger as you
          get older. It sits underneath the bladder and surrounds the urethra – the tube men urinate (pee) and ejaculate
          through.
        </p>
        <p>
          Its main job is to help make semen – the fluid that carries sperm.
        </p>
        <p>
          The most common prostate problems are an enlarged prostate, prostatitis and prostate cancer.
        </p>

        <br>
        <iframe src="https://www.youtube.com/embed/urZ7sOynMeM?rel=0" width="100%" height="400px" frameborder="0"
                allowfullscreen="false"></iframe>

      </div>
    </div>
  </div>
</div>
