<h1>Symptom Tracking</h1>

<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        How do you feel today?
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="btn-group btn-primary-outline">
            <button class="btn">
              <clr-icon shape="happy-face"></clr-icon>
            </button>
            <button class="btn">
              <clr-icon shape="neutral-face"></clr-icon>
            </button>
            <button class="btn">
              <clr-icon shape="sad-face"></clr-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



