<h1>Measurement Tracking</h1>

<form class="clr-form" [formGroup]="formdata" (ngSubmit)="createData(formdata.value)">
  <div class="form-block">
    <label>When?</label>
    <div class="form-group">
      <label for="date">Enter Date</label>
      <input type="date" id="date" name="date" formControlName="date" clrDate>
    </div>
  </div>

  <!-- Weight -->
  <div class="form-block">
    <label>Weight - kg</label>
    <div class="form-group">
      <label for="date">Whats your weight?<br>
      </label>
      <input type="number" formControlName="weight"/>
    </div>
  </div>

  <!-- PSA -->
  <div class="form-block">
    <label>PSA - ng/ml</label>
    <div class="form-group">
      <label>
        Whats your PSA level?<br>
        <small>0-300</small>
      </label>
      <input type="number" formControlName="psa"/>
    </div>
  </div>

  <!-- LDH -->
  <div class="form-block">
    <label>LDH - U/L</label>
    <div class="form-group">
      <label for="date">
        Whats your LDH level?<br>
        <small>0-500</small>
      </label>
      <input type="number" formControlName="ldh"/>
    </div>
  </div>

  <!-- LDH -->
  <div class="form-block">
    <label>Testosterone - ng/dl</label>
    <div class="form-group">
      <label>
        Whats your Testosterone level?<br>
        <small>0-250</small>
      </label>
      <input type="number" formControlName="testosterone"/>
    </div>
  </div>

  <div *ngIf="state.fail" class="alert alert-danger" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">{{state.fail}}</span>
      </div>
    </div>
  </div>

  <div *ngIf="state.success" class="alert alert-success" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text">{{state.success}}</span>
      </div>
    </div>
  </div>


  <button type="submit" class="btn btn-lg">
    <span *ngIf="state.loading" class="spinner spinner-inline">Loading...</span>
    Submit
  </button>


</form>


