<div class="content-container">
  <div class="content-area">

    <div class="container">
      <div class="clr-row">

        <div class="clr-col-sm-12 clr-col-md-4">
          <div class="padding">
            <h1>Welcome to Pro-Care</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dolor lacus, efficitur a libero non,
              vulputate pulvinar turpis. Praesent viverra vitae lectus sed dictum. Nunc vehicula pharetra elit a
              consectetur. Proin condimentum quam dolor, vitae accumsan ipsum suscipit sit amet. In hac habitasse platea
              dictumst.
            </p>
          </div>

        </div>
        <div class="clr-col-sm-12 clr-col-md-8">
          <span><img src="assets/patients-home.jpg" width="100%"></span>
        </div>


      </div>
    </div>
  </div>


  <div class="container">
    <div class="clr-row">

      <div class="clr-col-sm-4 clr-col-md-4">
        <div class="padding">
          <h3>Symptoms</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dolor lacus, efficitur a libero non,
            vulputate pulvinar turpis.
          </p>
          <ul>
            <li>Fever</li>
            <li>Pain</li>
            <li>...</li>
          </ul>
          <a class="btn btn-primary btn-icon" routerLink="/patients/symptoms/create">
            <clr-icon shape="plus"></clr-icon>
            Track New Symptom</a>
        </div>

      </div>

      <div class="clr-col-sm-4 clr-col-md-4">
        <div class="padding">
          <h3>Medication</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dolor lacus, efficitur a libero non,
            vulputate pulvinar turpis.
          </p>
          <ul>
            <li>Prosac</li>
            <li>Viagra</li>
            <li>...</li>
          </ul>
          <a class="btn btn-primary btn-icon" routerLink="/patients/medication/create">
            <clr-icon shape="plus"></clr-icon>
            Track Medication</a>
        </div>
      </div>

      <div class="clr-col-sm-4 clr-col-md-4">
        <div class="padding">


          <h3>Measurements</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dolor lacus, efficitur a libero non,
            vulputate pulvinar turpis.
          </p>
          <ul>
            <li>XYZ</li>
            <li>Pain</li>
            <li>...</li>
          </ul>
          <a class="btn btn-primary btn-icon" routerLink="/patients/measurements/create">
            <clr-icon shape="plus"></clr-icon>
            Track Measurements</a>
        </div>
      </div>

    </div>
  </div>


</div>
