<div class="content-container">
  <div class="content-area">

    <h2>Welcome Back {{app?.activeUser?.identity?.name}}</h2>
    <div class="clr-row">

      <div class="clr-row-xs-12 clr-col-sm-4 clr-col-md-3">
        <div class="padding">
          <div class="card">
            <div class="card-header">
              Your next appointment
            </div>
            <div class="card-block">
              <div class="card-title">
                Dr. Watt
              </div>
              <div class="card-text">
                Monday 04.02.2019 - 10:00 am
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link">Call</button>
              <button class="btn btn-sm btn-link">Email</button>
            </div>
          </div>
        </div>

      </div>
      <div class="clr-row-xs-12 clr-col-sm-4 clr-col-md-3">
        <div class="padding">
          <h3>Symptoms</h3>
          <a class="btn btn-primary btn-icon" routerLink="/patients/symptoms/create">
            <clr-icon shape="plus"></clr-icon>
            Track New Symptom</a>
        </div>

      </div>

      <div class="clr-row-xs-12 clr-col-sm-4 clr-col-md-3">
        <div class="padding">
          <h3>Medication</h3>
          <a class="btn btn-primary btn-icon" routerLink="/patients/medication/create">
            <clr-icon shape="plus"></clr-icon>
            Track Medication</a>
        </div>
      </div>

      <div class="clr-row-xs-12 clr-col-sm-4 clr-col-md-3">
        <div class="padding">
          <h3>Measurements</h3>
          <a class="btn btn-primary btn-icon" routerLink="/patients/measurements/create">
            <clr-icon shape="plus"></clr-icon>
            Track Measurements</a>
        </div>
      </div>

    </div>
  </div>


</div>
