<div class="content-container">
  <div class="content-area">

    <h2>Welcome Back {{app?.activeUser?.identity?.name}}</h2>
    <div class="clr-row">

      <div class="clr-row-xs-12 clr-col-sm-4 clr-col-md-3">
        <div class="padding">
          <a class="btn btn-warning btn-icon" routerLink="/patients" style="text-align: center; height: 200px; width: 100%;">
            <clr-icon shape="calendar" class="has-badge" style="width: 80px; height: 80px; margin: 20px 0"></clr-icon>
            <br>
            Dr. Williams<br>
            <small style="display:block; margin-top: -10px;">Mon 04.02 - 10:00 am</small>
          </a>
        </div>
      </div>

      <div class="clr-row-xs-12 clr-col-sm-4 clr-col-md-3">
        <div class="padding">
          <a class="btn btn-primary btn-icon" routerLink="/patients/symptoms/create" style="text-align: center; height: 200px; width: 100%;">
            <clr-icon shape="heart" style="width: 80px; height: 80px; margin: 20px 0"></clr-icon>
            <br>
            Track New Symptom
          </a>
        </div>
      </div>

      <div class="clr-row-xs-12 clr-col-sm-4 clr-col-md-3">
        <div class="padding">
          <a class="btn btn-primary btn-icon" routerLink="/patients/medication" style="text-align: center; height: 200px; width: 100%;">
            <clr-icon shape="times-circle" style="width: 80px; height: 80px; margin: 20px 0"></clr-icon>
            <br>
            Track Medication</a>
        </div>
      </div>

      <div class="clr-row-xs-12 clr-col-sm-4 clr-col-md-3">
        <div class="padding">
          <a class="btn btn-primary btn-icon" routerLink="/patients/measurements/create" style="text-align: center; height: 200px; width: 100%;">
            <clr-icon shape="line-chart" style="width: 80px; height: 80px; margin: 20px 0"></clr-icon>
            <br>
            Track Measurements</a>
        </div>
      </div>

    </div>
  </div>


</div>
