<div class="login-wrapper">
  <div class="login-group" style="padding: 50px;">
    <h3 class="welcome">Login</h3>
    <br>
    <form class="clr-form" [formGroup]="formdata" (ngSubmit)="login(formdata.value)">
      <clr-input-container>
        <input type="text" name="username" formControlName="username" clrInput placeholder="Username"/>
      </clr-input-container>
      <clr-password-container>
        <input type="password" name="password" formControlName="password" clrPassword placeholder="Password"/>
      </clr-password-container>
      <br>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br>
    <br>
  </div>
</div>
