<div class="main-container">
  <div class="content-container">
    <div class="content-area">

      <div class="clr-row clr-justify-content-center">
        <div class="crl-col-3 crl-col-lg-2 clr-col-md-5 crl-col-sm-12 crl-col-xs-12">
          <div class="card">
            <div class="card-img" style="position: relative">
              <div style="position: absolute; right: 10px; top:10px;"><img src="assets/logo.svg" width="150px;"></div>
              <img src="assets/login.png"/>
            </div>
            <div class="card-block">
              <h3>Login</h3>
              <form class="clr-form" [formGroup]="formdata" (ngSubmit)="login(formdata.value)">
                <clr-input-container>
                  <input type="text" name="email" formControlName="email" clrInput placeholder="Username"/>
                </clr-input-container>
                <clr-password-container>
                  <input type="password" name="password" formControlName="password" clrPassword
                         placeholder="Password"/>
                </clr-password-container>
                <br>
                <div *ngIf="state.fail" class="alert alert-danger" role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                      <span class="alert-text">{{state.fail}}</span>
                    </div>
                  </div>
                </div>

                <div *ngIf="state.success" class="alert alert-success" role="alert">
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                      </div>
                      <span class="alert-text">{{state.success}}</span>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
              </form>

            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
