<a class="btn btn-primary btn-icon" routerLink="/patients/symptoms/create">
  <clr-icon shape="plus"></clr-icon>
  Track New Measurement</a>

<h1>Overview</h1>

<div *ngIf="measurements===null" class="text-center" style="padding: 100px 0;">
  <span class="spinner">Loading...</span>
</div>


<section class="container" *ngIf="measurements?.hits?.hits" class="clr-row">
  <div class="clr-col-sm-12 clr-col-md-6">
    <h2>Latest entries</h2>
    <a class="btn btn-sm btn-primary btn-icon" routerLink="/patients/symptoms/create">
      <clr-icon shape="plus"></clr-icon>
      Track New Symptom</a>
    <div *ngFor="let hit of symptoms.hits.hits">
      <!--
      {{hit._source | json}}
      {{hit._id}}
      {{hit._index}}
      {{hit._type}}
      -->
      <div class="card">
        <div class="card-header">
          <clr-icon *ngIf="hit._source.overall == 1" shape="happy-face"></clr-icon>
          <clr-icon *ngIf="hit._source.overall == 0" shape="neutral-face"></clr-icon>
          <clr-icon *ngIf="hit._source.overall == -1" shape="sad-face"></clr-icon>
          - {{hit._source.date}}
        </div>
        <div class="card-block">
          <div class="card-text">

            <strong>Note:</strong> {{hit._source.note}}
          </div>
          <button class="btn btn-sm" (click)="deleteData(hit._id)">Delete</button>
        </div>
      </div>

    </div>
  </div>
  <div class="clr-col-sm-12 clr-col-md-6">
    <h2>Progress</h2>
    <div *ngIf="symptoms" style="width: 100%; height: 400px;">
      <canvas baseChart width="500" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</section>
