<clr-main-container class="patients">
  <div class="alert alert-app-level">

  </div>
  <clr-header class="patients-header">
    <div class="branding">
      <a href="/" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Patient</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="/patients"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         class="nav-link nav-text">
        Home
      </a>
      <a routerLink="/patients/symptoms"
         [routerLinkActiveOptions]="{exact: false}"
         routerLinkActive="active"
         class="nav-link nav-text">
        Symptoms
      </a>
      <a routerLink="/patients/measures"
         [routerLinkActiveOptions]="{exact: false}"
         routerLinkActive="active"
         class="nav-link nav-text">
        Measures
      </a>
      <a routerLink="/patients/medications"
         [routerLinkActiveOptions]="{exact: false}"
         routerLinkActive="active"
         class="nav-link nav-text">
        Medication
      </a>
      <!--<a routerLink="/medications" routerLinkActive="active" class="nav-link nav-text">-->
      <!--Medication Plan-->
      <!--</a>-->
    </div>
    <div class="header-actions">
      <a routerLink="/login" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}" class="nav-link nav-text">
        Login
      </a>
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </clr-header>
  <router-outlet></router-outlet>
</clr-main-container>
