<clr-main-container class="doctors">
  <div class="alert alert-app-level">

  </div>
  <clr-header class="doctors-header">
    <div class="branding">
      <a routerLink="/doctors" class="nav-link">
        <img src="assets/logo.svg" width="65px;">
        <span class="title">Doctor</span>
      </a>
    </div>
    <div class="header-nav"  [clr-nav-level]="1">
      <a routerLink="/doctors"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         class="nav-link nav-text">
        Home
      </a>
      <a routerLink="/doctors/wiki"
         [routerLinkActiveOptions]="{exact: false}"
         routerLinkActive="active"
         class="nav-link nav-text">
        Knowledge Base
      </a>
      <a routerLink="/doctors/patients"
         [routerLinkActiveOptions]="{exact: false}"
         routerLinkActive="active"
         class="nav-link nav-text">
        Patients
      </a>
      <!--<a routerLink="/medications" routerLinkActive="active" class="nav-link nav-text">-->
      <!--Medication Plan-->
      <!--</a>-->
    </div>
    <div class="header-actions">
      <a routerLink="/logout" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}" class="nav-link nav-text">
        Logout
      </a>
      <a routerLink="/patients" class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </clr-header>
  <router-outlet></router-outlet>
</clr-main-container>
