/* You can add global styles to this file, and also import other style files */

@import "scss/main";

.sad {
  fill: #ff7a6c;
}

.happy {
  fill: #43b744;
}

.neutral {
  fill: #ffcf81;
}

.patients {
  .patients-header {
    background: #0e384d;
  }
}

.doctors {
  .alert-app-level {
    background: #ef6244;
  }

  .doctors-header {
    background: #8b0601;
  }
}

.bg-white {
  background: #fff;
}

.padding {
  padding: 10px;
}

.cursor-pointer {
  cursor: pointer;
}
