<div *ngIf="patient===null" class="text-center" style="padding: 100px 0;">
  <span class="spinner">Loading...</span>
</div>

<app-chat></app-chat>

<div *ngIf="patient" class="content-container">
  <div class="content-area">

    <div class="container">

      <h1><strong>{{patient?._source?.name}}</strong> - {{patient?._source?.age}} years</h1>

      <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">

          <div class="card">
            <div class="card-header">
              Profile
            </div>
            <div class="card-block">
              <div class="card-text">
                <img *ngIf="patient?._source?.image_url" src="{{api.getBackendUrl()}}{{patient?._source?.image_url}}"
                     width="200px">
                <br>
                <strong>Age:</strong> {{patient?._source?.age}}<br/>
                <strong>Stage:</strong> {{patient?._source?.stage}}<br/>
                <strong>Remarks:</strong> {{patient?._source?.remarks}}<br/>

                <br>

                <button *ngIf="patient?._source?.email" type="button" class="btn btn-icon">
                  <clr-icon shape="envelope"></clr-icon>
                  Write email
                </button>
                <button *ngIf="patient?._source?.phone" type="button" class="btn btn-icon">
                  <clr-icon shape="phone-handset"></clr-icon>
                  Call
                </button>

              </div>
            </div>
          </div>


        </div>

        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
          <div class="card">
            <div class="card-header">
              Visits
            </div>
            <div class="card-block">
              <ul>
                <li>
                  <strong>Date: 02.01.2019</strong>
                </li>
                <li>
                  <strong>Date: 21.12.2018</strong>
                </li>
                <li>
                  <strong>Date: 12.11.2018</strong>
                </li>
                <li>
                  <strong>Date: 01.10.2018</strong>
                </li>
              </ul>
            </div>
          </div>


          <div class="card" *ngIf="patient?._source?.medication">
            <div class="card-header">
              Medication
            </div>
            <div class="card-block">
              <ul>
                <li *ngFor="let med of patient._source.medication">
                  <strong>{{med.name}}: </strong> {{med.take}}<br>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="clr-row">
        <!-- Symptoms -->
        <!-- Symptoms -->
        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
          <h2>Symptoms</h2>

          <span *ngIf="symptomsAll?.doc_count">
            Data points:
            <span class="badge badge-info">{{symptomsAll?.doc_count}}</span>
          </span>

          <h4>
            Overall Feeling
            <span *ngIf="symptomsAll?.overall">
              <span class="badge badge-info">{{symptomsAll?.overall.value | number}}</span>
            </span>
          </h4>

          <div *ngIf="symptoms===null" class="text-center" style="padding: 100px 0;">
            <span class="spinner">Loading...</span>
          </div>

          <div *ngIf="symptoms" style="width: 100%; height: 400px; padding-bottom: 30px; margin-bottom: 50px;">
            <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="'line'"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
          <div class="clr-row">
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <div *ngIf="symptoms" style="width: 100%; height: 200px; padding-bottom: 30px; margin-bottom: 50px;">
                <h4>Fever
                  <span *ngIf="symptomsAll?.fever">
                    <span class="badge badge-info">{{symptomsAll?.fever.value | number}}</span>
                  </span>
                </h4>
                <canvas baseChart
                        [datasets]="fever"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="'bar'"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <div *ngIf="symptoms" style="width: 100%; height: 200px; padding-bottom: 30px; margin-bottom: 50px;">
                <h4>Weight loss
                  <span *ngIf="symptomsAll?.lost_weight">
                    <span class="badge badge-info">{{symptomsAll?.lost_weight.value | number}}</span>
                  </span>
                </h4>
                <canvas baseChart
                        [datasets]="lost_weight"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="'bar'"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <div *ngIf="symptoms" style="width: 100%; height: 200px; padding-bottom: 30px; margin-bottom: 50px;">
                <h4>Night Sweats
                  <span *ngIf="symptomsAll?.night_sweats">
                    <span class="badge badge-info">{{symptomsAll?.night_sweats.value | number}}</span>
                  </span>
                </h4>
                <canvas baseChart
                        [datasets]="night_sweats"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="'bar'"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <div *ngIf="symptoms" style="width: 100%; height: 200px; padding-bottom: 30px; margin-bottom: 50px;">
                <h4>Blood in urine
                  <span *ngIf="symptomsAll?.blood_in_urine">
                    <span class="badge badge-info">{{symptomsAll?.blood_in_urine.value | number}}</span>
                  </span>
                </h4>
                <canvas baseChart
                        [datasets]="blood_in_urine"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="'bar'"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <div *ngIf="symptoms" style="width: 100%; height: 200px; padding-bottom: 30px; margin-bottom: 50px;">
                <h4>
                  Fatigue
                  <span *ngIf="symptomsAll?.fatigue">
                    <span class="badge badge-info">{{symptomsAll?.fatigue.value | number}}</span>
                  </span>
                </h4>
                <canvas baseChart
                        [datasets]="fatigue"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="'bar'"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <div *ngIf="symptoms" style="width: 100%; height: 200px; padding-bottom: 30px; margin-bottom: 50px;">
                <h4>Burning d. urination
                  <span *ngIf="symptomsAll?.burning_during_urination">
                    <span class="badge badge-info">{{symptomsAll?.burning_during_urination.value | number}}</span>
                  </span>
                </h4>
                <canvas baseChart
                        [datasets]="burning_during_urination"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="'bar'"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <div *ngIf="symptoms" style="width: 100%; height: 200px; padding-bottom: 30px; margin-bottom: 50px;">
                <h4>Pain whilst sitting
                  <span *ngIf="symptomsAll?.pain_whilst_sitting">
                    <span class="badge badge-info">{{symptomsAll?.pain_whilst_sitting.value | number}}</span>
                  </span>
                </h4>
                <canvas baseChart
                        [datasets]="pain_whilst_sitting"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="'bar'"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <div *ngIf="symptoms" style="width: 100%; height: 200px; padding-bottom: 30px; margin-bottom: 50px;">
                <h4>Other pain
                  <span *ngIf="symptomsAll?.pain_other">
                    <span class="badge badge-info">{{symptomsAll?.pain_other.value | number}}</span>
                  </span>
                </h4>
                <canvas baseChart
                        [datasets]="pain_other"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="'bar'"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
              <div *ngIf="symptoms" style="width: 100%; height: 200px; padding-bottom: 30px; margin-bottom: 50px;">
                <h4>Swelling of feet
                  <span *ngIf="symptomsAll?.swelling_of_feed">
                    <span class="badge badge-info">{{symptomsAll?.swelling_of_feed.value | number}}</span>
                  </span>
                </h4>
                <canvas baseChart
                        [datasets]="swelling_of_feed"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="'bar'"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>

          <!-- Symptoms -->
          <div *ngIf="symptoms">
            <div *ngFor="let hit of symptoms.hits.hits">
              <!--
              {{hit._source | json}}
              {{hit._id}}
              {{hit._index}}
              {{hit._type}}
              -->
              <div class="card">
                <div class="card-header">
                  <clr-icon class="happy" *ngIf="hit._source.overall == 1" shape="happy-face"></clr-icon>
                  <clr-icon class="neutral" *ngIf="hit._source.overall == 0" shape="neutral-face"></clr-icon>
                  <clr-icon class="sad" *ngIf="hit._source.overall == -1" shape="sad-face"></clr-icon>
                  - {{hit._source.date}}
                </div>
                <div class="card-block">
                  <div class="card-text">
                    <strong>Note:</strong> {{hit._source.note}} <br>
                    <hr>
                    <span *ngIf="hit._source.fever">
                    <strong>Fever: </strong>{{hit._source.fever}}<br/>
                  </span>
                    <span *ngIf="hit._source.lost_weight">
                    <strong>Weight loss: </strong>{{hit._source.lost_weight}}<br/>
                  </span>
                    <span *ngIf="hit._source.night_sweats">
                    <strong>Night sweats: </strong>{{hit._source.night_sweats}}<br/>
                  </span>
                    <span *ngIf="hit._source.erectile_dysfunction">
                    <strong>Erectile dysfunction: </strong>{{hit._source.erectile_dysfunction}}<br/>
                  </span>
                    <span *ngIf="hit._source.blood_in_urine">
                    <strong>Blood in urine: </strong>{{hit._source.blood_in_urine}}<br/>
                  </span>
                    <span *ngIf="hit._source.fatigue">
                    <strong>Fatigue: </strong>{{hit._source.fatigue}}<br/>
                  </span>
                    <span *ngIf="hit._source.burning_during_urination">
                    <strong>Burning during urination: </strong>{{hit._source.burning_during_urination}}<br/>
                  </span>
                    <span *ngIf="hit._source.pain_whilst_sitting">
                    <strong>Pain whilst sitting: </strong>{{hit._source.pain_whilst_sitting}}<br/>
                  </span>
                    <span *ngIf="hit._source.pain_other">
                    <strong>Other pain: </strong>{{hit._source.pain_other}}<br/>
                  </span>
                    <span *ngIf="hit._source.swelling_of_feed">
                    <strong>Swelling of feet: </strong>{{hit._source.swelling_of_feed}}<br/>
                  </span>

                    <span *ngIf="hit._source.bowel_habit">
                    <strong>Bowel habit: </strong>{{hit._source.bowel_habit}}<br/>
                  </span>

                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- Measurements -->
        <div class="clr-col-lg-6 clr-col-md-6 clr-col-sm-12 clr-col-xs-12">
          <h2>Measurements</h2>
          <div *ngIf="measurements">
            <div>
              <h4>Weight</h4>
              <canvas baseChart width="500" height="150"
                      [datasets]="weight"
                      [labels]="lineChartMeasurementsLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="'line'"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div>
              <h4>PSA</h4>
              <canvas baseChart width="500" height="150"
                      [datasets]="psa"
                      [labels]="lineChartMeasurementsLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="'line'"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div>
              <h4>LDH</h4>
              <canvas baseChart width="500" height="150"
                      [datasets]="ldh"
                      [labels]="lineChartMeasurementsLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="'line'"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div>
              <h4>Testosterone</h4>
              <canvas baseChart width="500" height="150"
                      [datasets]="testosterone"
                      [labels]="lineChartMeasurementsLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="'line'"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>


          <div *ngFor="let hit of measurements.hits.hits">
            <!--
            {{hit._source | json}}
            {{hit._id}}
            {{hit._index}}
            {{hit._type}}
            -->
            <div class="card">
              <div class="card-header">
                {{hit._source.date}}
              </div>
              <div class="card-block">
                <div class="card-text">
                  <strong>weight:</strong> {{hit._source.weight}} kg<br>
                  <strong>ldh:</strong> {{hit._source.ldh}} U/L<br>
                  <strong>psa:</strong> {{hit._source.psa}} ng/ml<br>
                  <strong>testosterone:</strong> {{hit._source.testosterone}} ng/dl<br>
                </div>
              </div>
            </div>

          </div>



        </div>

      </div>


    </div>
  </div>
</div>
