<div class="content-container">
  <div class="content-area">

    <div class="container">


      <a class="btn btn-primary btn-icon" routerLink="/doctors/patients/create">
        <clr-icon shape="plus"></clr-icon>
        Add New Patient</a>

      <div class="clr-row">
        <div class="clr-col-lg-4 clr-col-md-6 clr-col-sm-12 clr-col-xs-12" *ngFor="let patient of patients">
          <div class="card">
            <div class="card-header">
              {{patient.first_name}} {{patient.last_name}}
            </div>
            <div class="card-block">
              <div class="card-media-block wrap">
                <img src="{{patient.image_url}}" class="card-media-image">
                <div class="card-media-description">
                       <strong>Age:</strong>{{patient.age}} <br>
                       <strong>Stage:</strong>{{patient.stage}} <br>
                </div>
              </div>
              <div class="card-text">
                <p><strong>Remarks:</strong> {{patient.remarks}}</p>
              </div>
            </div>
            <div class="card-footer">
              <a  routerLink="/doctors/patients/read/{{patient._id}}" class="btn btn-sm btn-link">Profile</a>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
